/build
/node_modules
/public/storage
/public/media
/storage/framework
/vendor
/.idea
.env
.env.backup
.phpunit.result.cache
.php_cs.cache
composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.log
*.sql
*.sqlite
.DS_Store
.DS_Store?
